@model SistemaExame.Models.Resultado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resultado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultadoExame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultadoExame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRealizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultadoObservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultadoObservacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.PacienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exame.ExameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profissional.ProfissionalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultadoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
