@model IEnumerable<SistemaExame.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteNomeMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteTipoSangue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteIdade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteAlergia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacientePeso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteAltura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteNomeMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteTipoSangue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteIdade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteAlergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacientePeso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteAltura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.CidadeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PacienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PacienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PacienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
